{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
       <img src="{{movie.img.url}}" width="250" height="250">
        </div>
<div class="col-md-3">

    <h2>{{movie.name}}</h2>
    <h5> {{movie.desc}}</h5>
    <h6>{{movie.year}}</h6>
    <a class="btn btn-warning" href="{% url 'webapp:update' movie.id %}">update</a>
    <a class="btn btn-danger"  href="{% url 'webapp:delete' movie.id %}">delete</a>
  </div>
</div>




</div>
{% endblock %}